streamlit==1.37.1
torch==2.4.0
llama_index==0.10.62
ollama
llama-index-llms-ollama
llama-index-embeddings-huggingface
pycryptodome
nbconvert
pyexiftool
llama-index-readers-web
html2text
streamlit-tags
streamlit-extras
black
torch
# colorama ; sys_platform == 'win32'
colorama
ebooklib
llama-index-core
PyMuPDF==1.23.8
markdown==3.5.2
beautifulsoup4==4.12.3
python-docx==1.1.0
psycopg2-binary==2.9.9
pydantic==2.5.2
numpy==1.24.3
sentence-transformers==2.2.2